@font-face {
  font-family: "CAT Rhythmus Regular";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("CAT Rhythmus Regular"), url("CAT Rhythmus.woff") format("woff");
}

h1 {
  font-family: "CAT Rhythmus Regular";
}

